
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
Html body{
    width: 100%;
    height: 100%;
    /* background-color: rgb(137, 121, 121); */
}
#first-nav{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 30px;
    /* background-color: rgb(10, 78, 55); */
}
#nav-part1{
    display: flex;
    
}
.gola{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#nav-part2{
    display: flex;
    gap: 35px;
    span{
        font-size: 15px;
        font-weight: 300;
    }
}
#nav-part2 h4{
    font-size: 15px;
    font-weight: 400;
}
#second-nav{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 30px;
}
#second-nav h4{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}
#center-scrollbar{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#center-scrollbar::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#center-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgb(185, 87, 87);
}
.scroll {
    flex-shrink: 0;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
    text-transform: capitalize;
    font-size: 130px;
    font-weight: 100;
    } 
}




#bottom-img{
    width: 100%;
    height: 39.5vh;
    display: flex;
    overflow-x: auto;
    
}
#bottom-img::-webkit-scrollbar{
    display: none;   
}
#bottom-img img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



